include ../partials/_head

.container
  h1 Recent Posts
  ul.list-group
    li.list-group-item
      strong @dickeyxxx
      span Node rules!
    li.list-group-item
      strong @jeffdickey
      span Trying out angular.js...