include ../partials/_head

nav.navbar.navbar-default
  .container
    ul.nav.navbar-nav
      li: a(href='/#/') Posts
      li: a(href='/#/register') Register
      li: a(href='/#/login') Login

div(ng-view)
