nav.navbar.navbar-default(nav)
  .container
    ul.nav.navbar-nav
      li: a(href='/#/') Posts
      li: a(href='/#/register') Register
      li: a(href='/#/login') Login

    p.navbar-text.navbar-right(ng-if='currentUser.username') Signed in as {{currentUser.username}}
